@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poly', serif;
}

.gameOanTuXi {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/bgGameOanTuXi.png');
    background-size: 100%;
}

.speech-bubble {
	position: relative;
	background: #45D994;
	border-radius: .4em;
	
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-top-color: #45D994;
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -35px;
}

.theThink {
    border: 5px solid #45D994;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 10px;
}

.playerGame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btnItem {
    width: 75px;
    height: 75px;
}